a {
  text-decoration: none;
}

.profile-img {
  overflow: hidden;
}

.profile-img img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.edit-link {
  color: black;
}
