a {
  text-decoration: none;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden; /* Prevents the image from overflowing the div */
}

.profile-img img {
  width: 100%; /* Makes the image fill the div's width */
  height: 100%; /* Makes the image fill the div's height */
  object-fit: contain; /* Scales the image to cover the div, cropping if necessary */
  object-position: center; /* Centers the image within the div */
}
